        @import url(https://SAKryukov.github.io/publications/code/documentation.css);
	blockquote { margin-left: 2em; }
	th, td { border: thin solid black; padding-left: 1em; padding-right: 1em; }
	th { border-bottom: solid black 2px; }
	th { background-color: lightGray; font-weight: normal; font-size: 100%; }
	table { border: solid black 2px; border-collapse: collapse; }